
    <div class="top-image">
        <%= link_to image_tag("Group 1.png", class: "start-btn"), questions_path %>
        <%= link_to image_tag("to_login.png", class: "to_login_btn"), welcome_path %>
    </div>