/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    background-color: rgba(232, 59, 43, 1);
    border: 10px solid #00a1ab;
    margin: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 5px;
    width: 346px;
    height: 750px;
}

header {
    margin-bottom: 100px;
    position: relative;

}

.logo {
    position: absolute;
    left: 75px;
}

.wrapper1 {
    background-color: #FFFAD4;
    border-radius: 15px;
    text-align: center;
    height: 580px;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
}

.top-image {
    width: 90%;
    padding-top: 15px;
}

.start-btn {
    position: absolute;
    top: 565px;
    right: 100px;
}

.q_num {
    margin-bottom: 40px;
    margin-top: 40px;
}

.answer_zone {
    margin-top: 35px;
    margin-bottom: 40px;
}

.radio-btn {
    display: none;
}


.or {
    margin: 0 20px;
}

.invisible {
    display: none;
}

.submit-btn {
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 1em 2em;
    width: 300px;
    color: #333;
    font-size: 18px;
    font-weight: 700;
    background-color: #cccccc;
    box-shadow: 0 5px 0 #aaaaaa;
    transition: 0.3s;
    margin-top: 70px;
}

.submit-btn::after {
    content: '';
    width: 5px;
    height: 5px;
    border-top: 3px solid #333333;
    border-right: 3px solid #333333;
    transform: rotate(45deg);
}

.submit-btn:hover {
    transform: translateY(3px);
    text-decoration: none;
    box-shadow: 0 2px 0 #aaaaaa;
}