<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Today`s Netflix Movie</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_pack_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
  </head>

  <body>
    <header>
      <%= image_tag 'Group 2.png', class: "logo" %>
    </header>
    <div class="wrapper1">
      <%= yield %>
    </div>
  </body>
</html>
